---
import { Image } from 'astro:assets';
import type { Post } from '~/types';
import { getFormattedDate } from '~/utils/utils';
import meImg from '~/assets/images/me.png';
import Badges from '~/components/Badges.astro';

interface Props {
  post: Post;
}

const { post } = Astro.props;
const { image, categories = [], title, permalink, excerpt, publishedAt } = post;
---

<article class="relative flex group flex-row items-center sm:p-4 sm:rounded-3xl sm:bg-white sm:dark:bg-neutral-900 sm:border border-neutral-200 dark:border-neutral-700 h-full">
  <a href={permalink} class="absolute inset-0 z-0" title={title}></a>
  <div class="flex flex-col flex-grow">
    <div class="space-y-3 mb-4">
      {categories && <Badges badges={categories} />}
      <a class="relative block" href={permalink}>
        <h2
          class="block font-medium sm:font-semibold text-neutral-900 dark:text-neutral-100 hover:text-indigo-900 dark:hover:text-indigo-300 text-sm sm:text-base xl:text-lg"
        >
          <span class="line-clamp-2" title={title}>{title}</span>
        </h2>
      </a>
      {
        excerpt && (
          <div class="hidden sm:block sm:mt-2">
            <div class="text-neutral-500 dark:text-neutral-400 text-sm line-clamp-2">{excerpt}</div>
          </div>
        )
      }
    </div>
    <div class="flex items-center flex-wrap justify-between mt-auto">
      <div class="inline-flex items-center flex-wrap text-neutral-800 dark:text-neutral-200 leading-none text-xs">
        <a href={permalink} class="relative flex items-center space-x-2">
          <span
            class="wil-avatar relative flex-shrink-0 inline-flex items-center justify-center overflow-hidden text-neutral-100 uppercase font-semibold shadow-inner rounded-full h-7 w-7 text-sm ring-1 ring-white dark:ring-neutral-900"
          >
            <Image src={meImg} alt="Nam Hoai Nguyen" class="absolute inset-0 w-full h-full object-cover" />
          </span>
          <span
            class="block text-neutral-700 hover:text-black dark:text-neutral-300 dark:hover:text-white font-medium capitalize"
          >
            Nam Hoai Nguyen
          </span>
        </a>
        <span class="text-neutral-500 dark:text-neutral-400 mx-[6px] font-medium">·</span>
        <span class="text-neutral-500 dark:text-neutral-400 font-normal">{getFormattedDate(publishedAt)}</span>
      </div>
    </div>
  </div>
  {
    image && (
    <a href={permalink} class="block relative flex-shrink-0 w-24 h-24 sm:w-40 sm:h-full ms-3 sm:ms-5 rounded-2xl overflow-hidden z-0">
      <div class="absolute inset-0">
        <Image
          src={image}
          alt={title}
          class="object-cover w-full h-full rounded-3xl group-hover:scale-105 transition-transform duration-500"
        />
      </div>
    </a>
    )
  }
</article>
