---
import type { Category } from '~/types';
import { Image } from 'astro:assets';
interface Props {
  topic: Category;
}
const { topic } = Astro.props;
---

<a
  class="items-center flex border border-neutral-200/70 dark:border-neutral-700 rounded-xl p-2.5"
  href={topic.permalink}
>
  <div class="relative flex-shrink-0 overflow-hidden h-12 me-4 rounded-xl w-12">
    <Image src={topic.image} alt={topic.title} class="object-cover" />
  </div>
  <div>
    <h2
      class="sm:text-base text-sm transition-colors dark:hover:text-indigo-300 dark:text-neutral-100 font-medium hover:text-indigo-900 sm:font-semibold text-neutral-900"
    >
      {topic.title}
    </h2>
    <span class="block dark:text-neutral-400 text-neutral-500 mt-[2px] text-xs">{topic.posts.length} Articles</span>
  </div>
</a>
