---
import PageLayout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import aboutImg from '~/assets/images/about-hero-right.webp';
import Tech from '~/components/Tech.astro';
import CardCV from '~/components/Card/Cv.astro';
import Project from '../components/Card/Project.astro';
import { skills, cv, projects } from '~/utils/about';

console.log(cv);
const metadata = {
  title: 'About Us',
  description:
    "I'm a senior full-stack engineer, creative coder and self-proclaimed designer who specializes in web development. I make it my mission to translate user-focused designs into pixel-perfect websites or applications that run blazing fast.",
};
---

<PageLayout metadata={metadata} activeMenu="About">
  <div class="relative">
    <div class="absolute inset-x-0 top-0 min-h-0 ps-10 py-32 flex flex-col overflow-hidden z-0">
      <div class="bg-[#ef233c] w-80 h-80 rounded-full mix-blend-multiply filter blur-3xl opacity-20 lg:w-96 lg:h-9w-96">
      </div>
      <div
        class="bg-[#04868b] w-80 h-80 ms-10 -mt-10 rounded-full mix-blend-multiply filter blur-3xl opacity-20 lg:w-96 lg:h-9w-96 nc-animation-delay-2000"
      >
      </div>
    </div>
    <div class="container py-16 lg:py-28 space-y-16 lg:space-y-28">
      <div class="relative">
        <div
          class="flex flex-col lg:flex-row space-y-14 lg:space-y-0 lg:space-x-10 rtl:space-x-reverse items-center relative text-center lg:text-left"
        >
          <div class="w-screen max-w-full xl:max-w-xl space-y-5 lg:space-y-7">
            <h2
              class="text-3xl !leading-tight font-semibold text-neutral-900 md:text-4xl xl:text-5xl dark:text-neutral-100"
            >
              👋 {metadata.title}.
            </h2>
            <p class="block text-base xl:text-lg text-neutral-6000 dark:text-neutral-400">{metadata.description}</p>
          </div>
          <div class="grow">
            <Image src={aboutImg} alt="About Us" class="w-full" />
          </div>
        </div>
      </div>
      <div class="relative">
        <div
          class="relative flex flex-col sm:flex-row sm:items-end justify-between mb-10 md:mb-12 text-neutral-900 dark:text-neutral-50"
        >
          <div class="max-w-2xl">
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold">Languages</h2>
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
          {
            skills.map((skill) => {
              return (
                <div class="p-6 rounded-2xl">
                  <h3 class="text-2xl font-semibold leading-none text-neutral-900 dark:text-neutral-200">
                    {skill.name}
                  </h3>
                  <div class="block text-sm text-neutral-500 mt-4 md:mt-8 sm:text-base dark:text-neutral-400">
                    <Tech techs={skill.tech} showName={true} />
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
      <div class="relative py-16">
        <div
          class="absolute inset-y-0 w-screen xl:max-w-[1340px] 2xl:max-w-screen-2xl left-1/2 transform -translate-x-1/2 xl:rounded-[40px] z-0 bg-neutral-100 dark:bg-black dark:bg-opacity-20"
        >
          <span class="sr-only hidden">bg</span>
        </div>
        <div class="relative grid lg:grid-cols-2 lg:gap-8">
          {
            cv.map((c) => (
              <div class="p-6 bg-white dark:bg-black/20 rounded-2xl dark:border-neutral-800">
                <h3 class="text-2xl font-semibold leading-none text-neutral-900 dark:text-neutral-200">{c.name}</h3>
                <div class="flex flex-col mt-6 divide-y divide-neutral-200 dark:divide-neutral-700">
                  {c.items.map((item) => (
                    <CardCV cv={item} />
                  ))}
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <div class="relative">
        <div
          class="relative flex flex-col sm:flex-row sm:items-end justify-between mb-10 md:mb-12 text-neutral-900 dark:text-neutral-50"
        >
          <div class="max-w-2xl">
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold">Projects</h2>
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:md:grid-cols-3 xl:grid-cols-4 gap-6 md:gap-8">
          {projects.map((project) => <Project project={project} />)}
        </div>
      </div>
    </div>
  </div>
</PageLayout>
